Quicksort/build-Quicksort-Desktop_Qt_5_4_1_MSVC2013_64bit-Debug/Makefile
Quicksort/build-Quicksort-Desktop_Qt_5_4_1_MSVC2013_64bit-Debug/Makefile.Debug
Quicksort/build-Quicksort-Desktop_Qt_5_4_1_MSVC2013_64bit-Debug/Makefile.Release
Quicksort/build-Quicksort-Desktop_Qt_5_4_1_MSVC2013_64bit-Debug/debug/moc_mainwindow.cpp
Quicksort/build-Quicksort-Desktop_Qt_5_4_1_MSVC2013_64bit-Debug/debug/moc_renderarea.cpp
Quicksort/build-Quicksort-Desktop_Qt_5_4_1_MSVC2013_64bit-Debug/ui_mainwindow.h
